<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fraud Detection System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="container">
        <h1>Credit Card Fraud Detection</h1>
        <p>Ensure the security of financial transactions using AI-powered fraud detection.</p>
        <a href="/predictdata" class="btn">Detect Fraud</a>
    </div>
</body>
</html>
